{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block header %}
<h1>About</h1>
{% endblock %}

{% block content %}
<div class="row about-row row-odd">
    <div class="col-md-6 col-sm-12 text-box">
        <h2>Song Stats</h2>
        <p>Song Stats is a web app where you can summarize and compare the Statistical Song data over the years in a
            visual manner using our dynamic charts. We use the data from the <a
                    href="https://www.kaggle.com/datasets/lehaknarnauli/spotify-datasets" target="_blank"
                    rel="noreferrer">Spotify Datasets</a> on <a href="https://www.kaggle.com/" target="_blank"
                                                                rel="noreferrer">Kaggle</a> and created the plots based
            on yearly data for tracks (songs) from 1922 to 2021. Some of the metrics summarized and compared are
            Acousticness, Danceability, Energy, Instrumentalness, Liveness, Speechiness, Valence. We also visualize
            Loudness, Tempo, Duration and comparison of Time Signatures and Keys.
        </p>
    </div>
    <div class="col-md-6 col-sm-12 image-box">
        <img src="{{url_for('static', filename='images/dashboard_dark.png')}}" height="300" width="300">
    </div>
</div>
<div class="row about-row">
    <div class="col-md-6 col-sm-12 image-box">
        <img src="{{url_for('static', filename='images/technology_dark.png')}}" height="300" width="300">
    </div>
    <div class="col-md-6 col-sm-12 text-box">
        <h2>Tools and Technology</h2>
        <p>There are many tools and technologies used to create this web app. Some of them are listed below:</p>
        <ul>
            <li><a href="https://flask.palletsprojects.com/" target="_blank" rel="noreferrer">Flask</a></li>
            <li><a href="https://www.postgresql.org/" target="_blank" rel="noreferrer">PostgreSQL</a></li>
            <li><a href="https://www.sqlalchemy.org/" target="_blank" rel="noreferrer">SQL Alchemy</a></li>
            <li><a href="https://d3js.org/" target="_blank" rel="noreferrer">D3 JS</a></li>
            <li><a href="https://plotly.com/javascript/" target="_blank" rel="noreferrer">Plotly</a></li>
            <li><a href="https://getbootstrap.com/" target="_blank" rel="noreferrer">Bootstrap</a></li>
            <li><a href="https://jquery.com/" target="_blank" rel="noreferrer">jQuery</a></li>
            <li><a href="https://select2.org/" target="_blank" rel="noreferrer">Select 2</a></li>
        </ul>
    </div>
</div>
<div class="row about-row row-odd">
    <div class="col-md-6 col-sm-12 text-box">
        <h2>Key in Music</h2>
        <p>key, in music, a system of functionally related chords deriving from the major and minor scales, with a
            central note, called the tonic (or keynote). The central chord is the tonic triad, which is built on the
            tonic note. Any of the 12 tones of the chromatic scale can serve as the tonic of a key. Accordingly, 12
            major keys and 12 minor keys are possible, and all are used in music. In musical notation, the key is
            indicated by the key signature, a group of sharp or flat signs at the beginning of each staff.</p>
        <a href="https://www.britannica.com/art/key-music" target="_blank" rel="noreferrer">Learn More about Keys in
            Music</a>
    </div>
    <div class="col-md-6 col-sm-12 image-box">
        <img src="{{url_for('static', filename='images/key_dark.png')}}" height="300" width="300">
    </div>
</div>
<div class="row about-row">
    <div class="col-md-6 col-sm-12 image-box">
        <img src="{{url_for('static', filename='images/signature_dark.png')}}" height="300" width="300">
    </div>
    <div class="col-md-6 col-sm-12 text-box">
        <h2>Time Signature</h2>
        <p>The time signature (also known as meter signature, metre signature, or measure signature) is a
            notational convention used in Western musical notation to specify how many beats (pulses) are contained in
            each measure (bar), and which note value is equivalent to a beat.</p>
        <a href="https://en.wikipedia.org/wiki/Time_signature" target="_blank" rel="noreferrer">Learn
            More about Time Signature</a>
    </div>
</div>
<div class="row about-row row-odd">
    <div class="col-md-6 col-sm-12 text-box">
        <h2>Attribution and References</h2>
        <p>Special thanks to <a href="https://www.kaggle.com/lehaknarnauli" target="_blank" rel="noreferrer">Lehak
            Narnauli</a> for the <a href="https://www.kaggle.com/datasets/lehaknarnauli/spotify-datasets"
                                    target="_blank" rel="noreferrer">Spotify Datasets</a> and <a
                href="https://storyset.com/" target="_blank" rel="noreferrer">Story Set</a> for the images.
        </p>
    </div>
    <div class="col-md-6 col-sm-12 image-box">
        <img src="{{url_for('static', filename='images/attribution_dark.png')}}" height="300" width="300">
    </div>
</div>
{% endblock %}